<div class="alert alert-danger" *ngIf="isRegisterError()">
  {{regErrorMessage}}
</div>
<form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">
  <div class="form-group" [ngClass]="{'has-error': regForm.companyName.invalid && regForm.companyName.touched}">
    <input type="text" [attr.placeholder]="'auth.register.input.companyName' | translate"
           class="form-control top" formControlName="companyName">
    <span class="help-block" translate
          *ngIf="regForm.companyName.invalid && regForm.companyName.touched && regForm.companyName.errors.required">
      auth.register.form.companyName.required
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': regForm.companyAddress.invalid && regForm.companyAddress.touched}">
    <input type="text" [attr.placeholder]="'auth.register.input.companyAddress' | translate"
           class="form-control middle" formControlName="companyAddress">
  </div>
  <div class="form-group" [ngClass]="{'has-error': regForm.userEmail.invalid && regForm.userEmail.touched}">
    <input type="email" [attr.placeholder]="'auth.register.input.userEmail' | translate"
           class="form-control middle" formControlName="userEmail">
    <span class="help-block" translate
          *ngIf="regForm.userEmail.invalid && regForm.userEmail.touched && regForm.userEmail.errors.required">
      auth.register.form.userEmail.required
    </span>
    <span class="help-block" translate
          *ngIf="regForm.userEmail.invalid && regForm.userEmail.touched && regForm.userEmail.errors.email">
      auth.register.form.userEmail.email
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': regForm.userName.invalid && regForm.userName.touched}">
    <input type="text" [attr.placeholder]="'auth.register.input.userName' | translate"
           class="form-control middle" formControlName="userName">
  </div>
  <div class="form-group" [ngClass]="{'has-error': regForm.userPassword.invalid && regForm.userPassword.touched}">
    <input type="password" [attr.placeholder]="'auth.register.input.password' | translate"
           class="form-control middle" formControlName="userPassword">
    <span class="help-block" translate
          *ngIf="regForm.userPassword.invalid && regForm.userPassword.touched && regForm.userPassword.errors.required">
      auth.register.form.userPassword.required
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': regForm.userPasswordConfirm.invalid && regForm.userPasswordConfirm.touched}">
    <input type="password" [attr.placeholder]="'auth.register.input.passwordConfirm' | translate"
           class="form-control bottom" formControlName="userPasswordConfirm">
    <span class='help-block' translate
          *ngIf="regForm.userPasswordConfirm.invalid && regForm.userPasswordConfirm.touched && regForm.userPasswordConfirm.errors.passwordNotMatch">
      auth.register.form.userPasswordConfirm.passwordNotMatch
    </span>
  </div>
  <button class="btn btn-lg btn-success btn-block" [disabled]="!registerForm.valid" translate>
    auth.register.submit
  </button>
</form>
