<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Buginator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/x-icon" href="/buginator.ico">
        <link rel="stylesheet" href="/wro/imported.css"/>
        <link rel="stylesheet" href="/wro/angular-app.css"/>
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap-glyphicons.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-app="buginator" ng-cloak class="ng-cloak" ng-controller="authController"
          ng-class="{login: $state.includes('login')}"
          ng-style="$state.includes('login') ? {'padding-top': '40px', 'padding-bottom': '40px', 'background': 'url(../images/pattern/irongrip.png) repeat #444'}
          : {'background-image': 'url(images/pattern/arches.png)', 'background-repeat': 'repeat', 'padding-top': '0px'} ">
        <div class="bg-dark dk" id="wrap" ng-if="!$state.includes('login')">
            <div id="top">
                <!-- .navbar -->
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <header class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="index.html" class="navbar-brand"><img src="images/logo.png" alt=""></a>
                        </header>

                        <div class="topnav">
                            <div class="btn-group" ng-controller="notificationController">
                                <a data-placement="bottom" data-original-title="Notifications" data-toggle="dropdown"
                                   class="btn btn-default btn-sm">
                                    <i class="fa fa-envelope"></i>
                                    <span class="label label-warning" ng-if="notifications.length > 0">{{notifications.length}}</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right media user-media bg-dark nav navbar-nav" ng-if="notifications.length > 0">
                                    <li style="width: 100%">
                                        <a ng-click="removeAllNotifications()"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li ng-repeat="notification in notifications" style="width: 100%">
                                        <a ng-redirect-to-url={{"/application/"+notification.applicationId+"/error/"+notification.errorId}}
                                           ng-click="removeNotification($index, notification)">
                                            {{notification.errorTitle}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a ng-click="logout()" data-toggle="tooltip" data-original-title="Logout"
                                   data-placement="bottom"
                                   class="btn btn-metis-1 btn-sm">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </div>
                        </div>

                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <!-- .nav -->
                            <ul class="nav navbar-nav">
                                <li><a href="" ng-redirect-to="dashboard" translate>DASHBOARD</a></li>
                                <li><a href="" ng-redirect-to="applications" ng-if="user.perms['read_application']" translate>APPLICATIONS</a></li>
                                <li><a href="" ng-redirect-to="roles" ng-if="user.perms['manage_role']" translate>ROLES</a></li>
                                <li><a href="" ng-redirect-to="users" ng-if="user.perms['manage_role'] && user.perms['manage_user']" translate>USERS</a></li>
                            </ul>
                            <!-- /.nav -->
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <!-- /.navbar -->
                <header class="head">
                    <div class="main-bar">
                        <h3>
                            <i class="fa fa-home"></i>&nbsp;
                            Buginator
                        </h3>
                    </div>
                    <!-- /.main-bar -->
                </header>
                <!-- /.head -->
            </div>

            <div id="left">
                <div class="media user-media bg-dark dker">
                    <div class="user-media-toggleHover">
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="user-wrapper bg-dark">
                        <a class="user-link" href="">
                            <img class="media-object img-thumbnail user-img" alt="User Picture" src="images/user.gif">
                            <!--<span class="label label-danger user-label">16</span>-->
                        </a>

                        <div class="media-body">
                            <h5 class="media-heading">{{$root.user.username}}</h5>
                            <ul class="list-unstyled user-info">
                                <li><a href="" ng-bind="$root.user.role"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #menu -->
                <ul id="menu" class="bg-blue dker">
                    <li class="nav-header">Menu</li>
                    <li class="nav-divider"></li>
                    <li class="">
                        <a href="" ng-redirect-to="dashboard">
                            <i class="fa fa-dashboard"></i>&nbsp;<span class="link-title" translate>DASHBOARD</span>
                        </a>
                    </li>
                    <li ng-if="user.perms['read_application']">
                        <a href="" ng-redirect-to="applications">
                            <i class="fa fa-desktop" ></i>
                            <span class="link-title" translate>APPLICATIONS</span>
                        </a>
                    </li>
                    <li class="nav-divider"></li>
                    <li ng-if="user.perms['manage_role']">
                        <a href="" ng-redirect-to="roles">
                            <i class="fa fa-tasks" ></i>
                            <span class="link-title" translate>ROLES</span>
                        </a>
                    </li>
                    <li ng-if="user.perms['manage_role'] && user.perms['manage_user']">
                        <a href="" ng-redirect-to="users">
                            <i class="fa fa-users" ></i>
                            <span class="link-title" translate>USERS</span>
                        </a>
                    </li>
                </ul>
                <!-- /#menu -->
            </div>
            <!-- /#left -->
            <div id="content">
                <div class="outer">
                    <div class="inner bg-light lter">
                        <div class="col-lg-12">
                            <!--HELLO-->
                            <div ui-view></div>
                        </div>
                    </div>
                    <!-- /.inner -->
                </div>
                <!-- /.outer -->
            </div>
            <!-- /#content -->
        </div>
        <!-- /#wrap -->
        <div ng-if="$state.includes('login')" class="form-signin">
            <div ui-view></div>
        </div>

        <footer class="Footer bg-dark dker" ng-if="!$state.includes('login')">
            <p>2016 &copy; Arkadiusz Chrobot, Metis Bootstrap Admin Template</p>
        </footer>
        <!-- /#footer -->

        <script src="/wro/imported.js"></script>
        <script src="/wro/angular-app.js"></script>
    </body>
</html>