<html>
    <body>
        #macro( msg $key )
            $emailBody.getMessage($key, null, $locale)
        #end
        <p style="margin:15px 0;">
            <b>#msg("errorNotification.topic") ${applicationName}</b>
        </p>
        <p style="margin:15px 0;"> ${errorTitle}</p>
        <p style="margin:15px 0;"> ${errorUrl}</p>
        Buginator.com</p>
    </body>
</html>