<html>
    <body>
        #macro( msg $key )
            $emailBody.getMessage($key, null, $locale)
        #end
        <p style="margin:15px 0;">
            <b>#msg("registerConfirm.header")</b>
        </p>
        <p style="margin:15px 0;">#msg("registerConfirm.hello") ${company.Name}!</p>
        <p style="margin:15px 0;">#msg("registerConfirm.completeSubscriptionDetails")</p>
        <p style="margin:15px 0;">#msg("email.endGreetings"),<br />
            Buginator.com</p>
    </body>
</html>