<div class="alert alert-success" *ngIf="isPasswordResetSuccess()" translate>
  auth.forgot.success
</div>
<div class="alert alert-danger" *ngIf="isPasswordResetError()" translate>
  auth.forgot.error
</div>
<form [formGroup]="passwordResetForm" (ngSubmit)="onPasswordResetSubmit()">
  <p class="text-muted text-center" translate>auth.forgot.info</p>
  <div class="form-group"
       [ngClass]="{'has-error': (passResetForm.email.invalid && passResetForm.email.touched)}">
    <input type="email" [attr.placeholder]="'auth.forgot.input.email' | translate"
           class="form-control" formControlName="email">
    <span class="help-block" translate
          *ngIf="passResetForm.email.invalid && passResetForm.email.touched && passResetForm.email.errors.required">
      auth.forgot.form.email.required
    </span>
    <span class="help-block" translate
          *ngIf="passResetForm.email.invalid && passResetForm.email.touched && passResetForm.email.errors.email">
      auth.forgot.form.email.email
    </span>
  </div>
  <br>
  <button class="btn btn-lg btn-danger btn-block" translate [disabled]="!passwordResetForm.valid">auth.forgot.submit</button>
</form>
