<div class="alert alert-danger" ng-if="forgotError">
  {{forgotErrorMsg}}
</div>
<form [formGroup]="passwordResetForm" (ngSubmit)="onPasswordResetSubmit()">
  <!--<p class="text-muted text-center" translate>FORGOT_INFO</p>-->
  <!--<div class="form-group"-->
       <!--ng-class="{'has-error':(forms.forgotForm.remindEmail.$error.required && forms.forgotForm.remindEmail.$touched) || forms.forgotForm.remindEmail.$error.email, 'has-success':!forms.forgotForm.remindEmail.$error.required || (!forms.forgotForm.remindEmail.$error.email && forms.forgotForm.remindEmail.$touched)}">-->
    <!--<input type="email" placeholder="mail@domain.com" class="form-control" ng-model="credentials.username"-->
           <!--id="remindEmail" name="remindEmail" required>-->
    <!--<span class="help-block"-->
          <!--ng-show="forms.forgotForm.remindEmail.$error.required && forms.forgotForm.remindEmail.$touched" translate>FORGOT_EMAIL_REQUIRED</span>-->
    <!--<span class="help-block"-->
          <!--ng-show="forms.forgotForm.remindEmail.$error.email && forms.forgotForm.remindEmail.$touched" translate>FORGOT_EMAIL_INVALID</span>-->
  <!--</div>-->
  <!--<br>-->
  <button class="btn btn-lg btn-danger btn-block" translate>FORGOT_SUBMIT_BUTTON</button>
</form>
