<div class="box dark">
    <header>
        <div class="icons"><i class="fa fa-desktop"></i></div>
        <h5>{{application.name}}</h5>

        <div class="toolbar">
            <div class="btn-group">
                <button class="btn btn-primary" ng-redirect-to-url={{"/application/"+appId}} translate>BACK_BUTTON
                </button>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-6">
            <div class="box dark">
                <header>
                    <h5 translate>CURRENT_USERS</h5>
                </header>
            </div>
            <div class="body">
                <div class="form-horizontal">
                    <div class="form-group" ng-repeat="appUser in appUsers" >
                        <label class="control-label col-lg-4">
                            <div class="col-lg-2"><checkbox class="btn-danger" ng-model="selectedRemove[$index]" ng-change="removeUser(appUser, $index)"
                                                            ng-if="$root.user.email != appUser.email"></checkbox></div>
                            <div class="col-lg-2">{{appUser.username}}</div>
                        </label>
                        <div class="col-lg-8">
                            <label class="control-label col-lg-4" translate>APP_USER_MODIFY</label>
                            <input bs-switch ng-model="appUser.modify" type="checkbox" switch-animate="true"
                                   switch-on-text="{{switchButton.yes}}" switch-off-text="{{switchButton.no}}" switch-on-color="primary"
                                   switch-off-color="default"
                                   switch-label-width="67" switch-handle-width="67"
                                   switch-change="changeModifyForUser(appUser)"
                                   switch-wrapper="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"
                                   switch-size="small" switch-readonly="$root.user.email === appUser.email"/>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="control-label col-lg-6"></label>
                        <div class="col-lg-6">
                            <button class="btn btn-danger" ng-click="removeSelectedUsers()" translate ng-if="user.perms['app_manage_users']">APP_USER_REMOVE_BUTTON</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box inverse">
                <header>
                    <h5 translate>ADD_USERS</h5>
                </header>
            </div>
            <div class="body">
                <div class="form-horizontal">
                    <div class="form-group" ng-repeat="userNotBoundToApp in usersNotBoundToApp">
                        <label class="control-label col-lg-4">
                            <div class="col-lg-2"><checkbox class="btn-success" ng-model="selectedAdd[$index]" ng-change="addUser(userNotBoundToApp, $index)"></checkbox></div>
                            <div class="col-lg-2">{{userNotBoundToApp.username}}</div>
                        </label>
                        <div class="col-lg-8">
                            <label class="control-label col-lg-4" translate>APP_USER_MODIFY</label>
                            <input bs-switch ng-model="userNotBoundToApp.modify" type="checkbox" switch-animate="true"
                                   switch-on-text="{{switchButton.yes}}" switch-off-text="{{switchButton.no}}" switch-on-color="primary"
                                   switch-off-color="default"
                                   switch-label-width="67" switch-handle-width="67"
                                   switch-wrapper="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"
                                   switch-size="small"/>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="control-label col-lg-6"></label>
                        <div class="col-lg-6">
                            <button class="btn btn-success" ng-click="addSelectedUsers()" translate ng-if="user.perms['app_manage_users']">APP_USER_ADD_BUTTON</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>