<!--create panel-->
<div class="box dark" ng-if="editable">
    <header>
        <div class="icons"><i class="fa fa-edit"></i></div>
        <h5 translate>CREATE_APPLICATION</h5>

        <div class="toolbar">
            <div class="btn-group">
                <button class="btn btn-primary" ng-redirect-to="applications" translate>BACK_BUTTON</button>
            </div>
        </div>
    </header>
    <div id="div-1" class="body">
        <form class="form-horizontal" ng-submit="submit()" id="forms.createAppForm" name="forms.createAppForm"
              novalidate>

            <div class="form-group">
                <label for="applicationName" class="control-label col-lg-3" translate>APPLICATION_NAME_INPUT</label>

                <div class="col-lg-5"
                     ng-class="{'has-error':(forms.createAppForm.applicationName.$error.required && forms.createAppForm.applicationName.$touched), 'has-success':!forms.createAppForm.applicationName.$error.required}">
                    <input type="text" id="applicationName" name="applicationName" placeholder="Application name"
                           class="form-control" ng-model="application.name" required translate
                           translate-attr-placeholder="APPLICATION_NAME_PLACEHOLDER">
                    <span class="help-block"
                          ng-show="forms.createAppForm.applicationName.$error.required && forms.createAppForm.applicationName.$touched"
                          translate>APPLICATION_NAME_REQUIRED</span>
                </div>
            </div>
            <!-- /.form-group -->

            <br>
            <button class="btn btn-primary center-block" type="submit" ng-disabled="!forms.createAppForm.$valid"
                    translate ng-if="user.perms['create_application']">CREATE_APPLICATION_SUBMIT_BUTTON
            </button>
        </form>
    </div>
</div>

<!--display panel-->
<div class="box dark" ng-if="!editable">
    <header>
        <div class="icons"><i class="fa fa-desktop"></i></div>
        <h5>{{application.name}}</h5>

        <div class="toolbar">
            <div class="btn-group">
                <button class="btn btn-success" ng-redirect-to-url={{"/application/"+application.id+"/aggregator"}} ng-if="user.perms['app_show_notification']" translate>APP_MANAGE_AGGREGATORS</button>
                <button class="btn btn-success" ng-redirect-to-url={{"/application/"+application.id+"/manageUsers"}} ng-if="user.perms['app_manage_users']" translate>APP_MANAGE_USERS</button>
                <button class="btn btn-primary" ng-redirect-to="applications" translate>BACK_BUTTON</button>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <canvas id="line" class="chart chart-line" chart-data="errorsChart.data"
                    chart-labels="errorsChart.labels" chart-series="errorsChart.series"
                    chart-options="errorsChart.options"
                    chart-dataset-override="errorsChart.datasetOverride">
            </canvas>
        </div>
    </div>
    <div id="collapse4" class="body">
        <div id="dataTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped"
                   st-safe-src="errors" st-table="displayedErrors">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="lead" translate>APPLICATION_ERRORS</p>
                    </div>
                </div>
                <thead>
                <tr>
                    <th translate>ERROR_TITLE</th>
                    <th translate>ERROR_DESCRIPTION</th>
                    <th translate>ERROR_STATUS</th>
                    <th translate>ERROR_SEVERITY</th>
                    <th translate>ERROR_LAST_OCCURRENCE</th>
                    <th translate>ERROR_COUNT</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="error in displayedErrors">
                    <td>{{error.title}}</td>
                    <td>{{error.description}}</td>
                    <td>{{error.status}}</td>
                    <td>{{error.severity}}</td>
                    <td>{{error.lastOccurrence}}</td>
                    <td>{{error.count}}</td>
                    <td>
                        <button class="btn btn-info" translate ng-redirect-to-url={{"/application/"+application.id+"/error/"+error.id}}>
                            ERROR_INFO_BUTTON
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>