<html>
    <body>
        #macro( msg $key )
            $emailBody.getMessage($key, null, $locale)
        #end
        <p style="margin:15px 0;">
            <b>#msg("passwordReminder.title")</b>
        </p>
        <p style="margin:15px 0;">#msg("passwordReminder.hello") ${username}!</p>
        <p style="margin:15px 0;">#msg("passwordReminder.passwordReset") ${newPassword}</p>
        <p style="margin:15px 0;"><b>#msg("passwordReminder.warning")</b></p>
            Buginator.com</p>
    </body>
</html>