<div class="box dark">
  <header>
    <div class="icons"><i class="fa fa-desktop"></i></div>
    <h5>{{error.title}}</h5>

    <div class="toolbar">
      <div class="btn-group">
        <button class="btn btn-info" (click)="changeStatus(status.ONGOING)" translate
                *ngIf="error.status !== status.ONGOING && error.status !== status.RESOLVED">error.details.buttons.ongoing
        </button>
        <button class="btn btn-success" (click)="changeStatus(status.RESOLVED)" translate
                *ngIf="error.status !== status.RESOLVED">error.details.buttons.resolve
        </button>
        <button class="btn btn-warning" (click)="changeStatus(status.REOPENED)" translate
                *ngIf="error.status === status.RESOLVED">error.details.buttons.reopen
        </button>
        <button class="btn btn-primary" [routerLink]="['/application', appId]" translate>common.buttons.back
        </button>
      </div>
    </div>
  </header>
  <div id="div-1" class="body">
    <div class="form-horizontal">
      <h5><strong translate>error.details.generalTitle</strong></h5>
      <div class="form-group">
        <label for="errorDescription" class="control-label col-lg-3" translate>error.details.description</label>
        <div class="col-lg-5">
          <div id="errorDescription" disabled class="form-control">{{error.description}}</div>
        </div>
      </div>

      <br/>

      <div class="form-group">
        <label for="errorSeverity" class="control-label col-lg-3" translate>error.details.severity</label>
        <div class="col-lg-5 has-feedback"
             [ngClass]="{'has-error': error.severity !== severity.WARNING, 'has-warning': error.severity === severity.WARNING}">
          <div id="errorSeverity" disabled class="form-control"> {{error.severity}}</div>
          <span class="fa fa-exclamation-triangle form-control-feedback"
                *ngIf="error.severity === severity.WARNING"></span>
          <span class="fa fa-times form-control-feedback" *ngIf="error.severity !== severity.WARNING"></span>
        </div>
      </div>

      <br/>

      <div class="form-group">
        <label for="errorStatus" class="control-label col-lg-3" translate>error.details.status</label>
        <div class="col-lg-5 has-feedback" [ngClass]="{'has-success': error.status === status.RESOLVED}">
          <div id="errorStatus" disabled class="form-control">{{error.status}}</div>
          <span class="fa fa-check form-control-feedback" *ngIf="error.status === status.RESOLVED"></span>
        </div>
      </div>

      <br/>

      <div class="form-group">
        <label for="errorDate" class="control-label col-lg-3" translate>error.details.firstOccurrence</label>
        <div class="col-lg-5">
          <div id="errorDate" disabled class="form-control">
            {{error.dateTime | date: 'yyyy-MM-dd HH:mm:ss'}}
          </div>
        </div>
      </div>

      <br/>

      <div class="form-group">
        <label for="errorLastOccurrence" class="control-label col-lg-3" translate>error.details.lastOccurrence</label>
        <div class="col-lg-5">
          <div id="errorLastOccurrence" disabled class="form-control">{{error.lastOccurrence}}</div>
        </div>
      </div>

      <br/>

      <div class="form-group">
        <label for="errorCount" class="control-label col-lg-3" translate>error.details.count</label>
        <div class="col-lg-5">
          <div id="errorCount" disabled class="form-control">{{error.count}}</div>
        </div>
      </div>

      <br *ngIf="error.requestUrl"/>

      <div class="form-group" *ngIf="error.requestUrl">
        <label for="errorRequestUrl" class="control-label col-lg-3" translate>error.details.request.url</label>
        <div class="col-lg-5">
          <div id="errorRequestUrl" disabled class="form-control">{{error.requestUrl}}</div>
        </div>
      </div>

      <br *ngIf="error.requestMethod"/>

      <div class="form-group" *ngIf="error.requestMethod">
        <label for="errorRequestUrl" class="control-label col-lg-3" translate>error.details.request.method</label>
        <div class="col-lg-5">
          <div id="errorRequestMethod" disabled class="form-control">{{error.requestMethod}}</div>
        </div>
      </div>

      <br *ngIf="error.queryParams"/>

      <div class="form-group" *ngIf="error.queryParams">
        <label for="errorQueryParams" class="control-label col-lg-3" translate>error.details.request.queryParams</label>
        <div class="col-lg-5">
          <div id="errorQueryParams" disabled class="form-control">{{error.queryParams}}</div>
        </div>
      </div>

      <br *ngIf="error.requestParams"/>

      <div class="form-group" *ngIf="error.requestParams">
        <label for="errorRequestParams" class="control-label col-lg-3" translate>error.details.request.formParams</label>
        <div class="col-lg-5">
          <textarea id="errorRequestParams" disabled style="overflow: hidden; resize: both; min-height: 250px;"
                    class="form-control">{{error.requestParams}}</textarea>
        </div>
      </div>

      <br *ngIf="error.requestHeaders"/>

      <div class="form-group" *ngIf="error.requestHeaders">
        <label for="errorRequestHeaders" class="control-label col-lg-3" translate>error.details.request.headers</label>
        <div class="col-lg-5">
          <textarea id="errorRequestHeaders" disabled style="overflow: hidden; resize: both; min-height: 250px;"
                    class="form-control">{{error.requestHeaders}}</textarea>
        </div>
      </div>

      <br/>

      <div class="body">
        <h5><strong translate>error.details.stackTrace</strong></h5>

        <div class="form-group">
          <div class="control-label col-lg-3">
          </div>
          <div class="col-lg-5">
            <textarea id="autosize" class="form-control" disabled
                      style="overflow: hidden; resize: both; min-height: 250px;">{{error.stackTrace}}</textarea>
          </div>
        </div>
      </div>

      <br/>

      <div class="body" *ngIf="error.userAgent">
        <h5><strong translate>error.details.userAgent.title</strong></h5>

        <div class="form-group">
          <label for="errorUAManufacturer" class="control-label col-lg-3"
                 translate>error.details.userAgent.manufacturer</label>
          <div class="col-lg-5">
            <div id="errorUAManufacturer" disabled class="form-control">
              {{error.userAgent.manufacturer}}
            </div>
          </div>
        </div>

        <br/>

        <div class="form-group">
          <label for="errorUADevice" class="control-label col-lg-3" translate>error.details.userAgent.device</label>
          <div class="col-lg-5">
            <div id="errorUADevice" disabled class="form-control">
              {{error.userAgent.device}}
            </div>
          </div>
        </div>

        <br/>

        <div class="form-group">
          <label for="errorUAOperatingSystem" class="control-label col-lg-3" translate>error.details.userAgent.operatingSystem</label>
          <div class="col-lg-5">
            <div id="errorUAOperatingSystem" disabled class="form-control">
              {{error.userAgent.operatingSystem}}
            </div>
          </div>
        </div>

        <br/>

        <div class="form-group">
          <label for="errorUABrowser" class="control-label col-lg-3" translate>error.details.userAgent.browser</label>
          <div class="col-lg-5">
            <div id="errorUABrowser" disabled class="form-control">
              {{error.userAgent.browser}}
            </div>
          </div>
        </div>

        <br/>

        <div class="form-group"
             *ngIf="error.userAgent.country != 'Unknown' && error.userAgent.language != 'Unknown'">
          <label for="errorUACountryLang" class="control-label col-lg-3"
                 translate>error.details.userAgent.countrylang</label>
          <div class="col-lg-5">
            <div id="errorUACountryLang" disabled class="form-control">
              {{error.userAgent.country}}, {{error.userAgent.language}}
            </div>
          </div>
        </div>

        <br *ngIf="error.userAgent.country != 'Unknown' && error.userAgent.language != 'Unknown'"/>
      </div>
    </div>
  </div>
</div>
