<div class="text-center">
    <img src="images/logo2.png" alt="Metis Logo">
</div>
<hr>
<div class="tab-content">
    <div id="login" class="tab-pane active">
        <div class="alert alert-success" ng-if="forgotSuccess">
            {{forgotSuccessMsg}}
        </div>
        <div class="alert alert-success" ng-if="registerSuccess">
            {{registerSuccessMsg}}
        </div>
        <div class="alert alert-danger" ng-if="loginError">
            {{loginErrorMsg}}
        </div>
        <form ng-submit="login()">
            <p class="text-muted text-center" translate>
                LOGIN_INFO
            </p>
            <input type="text" placeholder="mail@domain.com" class="form-control top" ng-model="credentials.username">
            <input type="password" placeholder="Password" class="form-control bottom" ng-model="credentials.password" translate translate-attr-placeholder="LOGIN_PASSWORD">
            <button class="btn btn-lg btn-primary btn-block" type="submit" translate>LOGIN_SUBMIT_BUTTON</button>
        </form>
    </div>
    <div id="forgot" class="tab-pane">
        <div class="alert alert-danger" ng-if="forgotError">
            {{forgotErrorMsg}}
        </div>
        <form id="forms.forgotForm" name="forms.forgotForm" novalidate ng-submit="resetPass()">
            <p class="text-muted text-center" translate>FORGOT_INFO</p>
            <div class="form-group" ng-class="{'has-error':(forms.forgotForm.remindEmail.$error.required && forms.forgotForm.remindEmail.$touched) || forms.forgotForm.remindEmail.$error.email, 'has-success':!forms.forgotForm.remindEmail.$error.required || (!forms.forgotForm.remindEmail.$error.email && forms.forgotForm.remindEmail.$touched)}">
                <input type="email" placeholder="mail@domain.com" class="form-control" ng-model="credentials.username" id="remindEmail" name="remindEmail" required>
                <span class="help-block" ng-show="forms.forgotForm.remindEmail.$error.required && forms.forgotForm.remindEmail.$touched" translate>FORGOT_EMAIL_REQUIRED</span>
                <span class="help-block" ng-show="forms.forgotForm.remindEmail.$error.email && forms.forgotForm.remindEmail.$touched" translate>FORGOT_EMAIL_INVALID</span>
            </div>
            <br>
            <button class="btn btn-lg btn-danger btn-block" type="submit" translate>FORGOT_SUBMIT_BUTTON</button>
        </form>
    </div>
    <div id="signup" class="tab-pane">
        <div class="alert alert-danger" ng-if="registerError">
            {{registerErrorMsg}}
        </div>
        <form id="forms.registerForm" name="forms.registerForm" novalidate ng-submit="register()">
            <div class="form-group" ng-class="{'has-error':forms.registerForm.companyName.$error.required && forms.registerForm.companyName.$touched, 'has-success':!forms.registerForm.companyName.$error.required}">
                <input type="text" placeholder="company name" class="form-control top" ng-model="registerData.company.name" id="companyName" name="companyName" required translate translate-attr-placeholder="SIGNUP_COMPANY_NAME">
                <span class="help-block" ng-show="forms.registerForm.companyName.$error.required && forms.registerForm.companyName.$touched" translate>SIGNUP_COMPANY_NAME_REQUIRED</span>
            </div>
            <div class="form-group" ng-class="{'has-error':forms.registerForm.companyAddress.$error.required && forms.registerForm.companyAddress.$touched, 'has-success':!forms.registerForm.companyAddress.$error.required}">
                <input type="text" placeholder="address " class="form-control middle" ng-model="registerData.company.address" id="companyAddress" name="companyAddress" required translate translate-attr-placeholder="SIGNUP_COMPANY_ADDRESS">
                <span class="help-block" ng-show="forms.registerForm.companyAddress.$error.required && forms.registerForm.companyAddress.$touched" translate>SIGNUP_COMPANY_ADDRESS_REQUIRED</span>
            </div>
            <div class="form-group" ng-class="{'has-error':forms.registerForm.userName.$error.required && forms.registerForm.userName.$touched, 'has-success':!forms.registerForm.userName.$error.required}">
                <input type="text" placeholder="username" class="form-control middle" ng-model="registerData.user.name" id="userName" name="userName" required translate translate-attr-placeholder="SIGNUP_USERNAME">
                <span class="help-block" ng-show="forms.registerForm.userName.$error.required && forms.registerForm.userName.$touched" translate>SIGNUP_USERNAME_REQUIRED</span>
            </div>
            <div class="form-group" ng-class="{'has-error':(forms.registerForm.userEmail.$error.required && forms.registerForm.userEmail.$touched) || forms.registerForm.userEmail.$error.email, 'has-success':!forms.registerForm.userEmail.$error.required || (!forms.registerForm.userEmail.$error.email && forms.registerForm.userEmail.$touched)}">
                <input type="email" placeholder="mail@domain.com" class="form-control middle" ng-model="registerData.user.email" id="userEmail" name="userEmail" required>
                <span class="help-block" ng-show="forms.registerForm.userEmail.$error.required && forms.registerForm.userEmail.$touched" translate>SIGNUP_EMAIL_REQUIRED</span>
                <span class="help-block" ng-show="forms.registerForm.userEmail.$error.email && forms.registerForm.userEmail.$touched" translate>SIGNUP_EMAIL_INVALID</span>
            </div>
            <div class="form-group" ng-class="{'has-error':forms.registerForm.pass.$error.required && forms.registerForm.pass.$touched, 'has-success':!forms.registerForm.pass.$error.required}">
                <input type="password" placeholder="password" class="form-control middle" ng-model="registerData.user.password" id="pass" name="pass" required translate translate-attr-placeholder="SIGNUP_PASSWORD">
                <span class="help-block" ng-show="forms.registerForm.pass.$error.required && forms.registerForm.pass.$touched" translate>SIGNUP_PASSWORD_REQUIRED</span>
            </div>
            <div class="form-group" ng-class="{'has-error':forms.registerForm.rePass.$error.pwmatch, 'has-success':!forms.registerForm.rePass.$error.pwmatch && forms.registerForm.pass.$touched && !forms.registerForm.userEmail.$error.required && !forms.registerForm.userEmail.$error.email}">
                <input type="password" placeholder="re-password" class="form-control bottom" ng-model="rePassword" id="rePass" pw-check="pass" name="rePass" translate translate-attr-placeholder="SIGNUP_RE_PASSWORD">
              <span class='help-block' ng-show='forms.registerForm.rePass.$error.pwmatch' translate>SIGNUP_PASSWORD_MATCH</span>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit" ng-disabled="!forms.registerForm.$valid" translate>SIGNUP_SUBMIT_BUTTON</button>
        </form>
    </div>
</div>
<hr>
<div class="text-center">
    <ul class="list-inline">
        <li><a class="text-muted" href="#login" data-toggle="tab" translate>LOGIN_TOGGLE</a></li>
        <li><a class="text-muted" href="#forgot" data-toggle="tab" translate>FORGOT_TOGGLE</a></li>
        <li><a class="text-muted" href="#signup" data-toggle="tab" translate>SIGNUP_TOGGLE</a></li>
    </ul>
</div>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.list-inline li > a').click(function () {
                var activeForm = $(this).attr('href') + ' > form';
                $(activeForm).addClass('animated fadeIn');
                //set timer to 1 seconds, after that, unload the animate animation
                setTimeout(function () {
                    $(activeForm).removeClass('animated fadeIn');
                }, 1000);
            });
        });
    })(jQuery);
</script>