<div class="text-center">
    <img src="images/logo.png" alt="Metis Logo">
</div>
<hr>
<div class="tab-content">
    <div id="login" class="tab-pane active">
        <form ng-submit="login()">
            <p class="text-muted text-center">
                Enter your username and password
            </p>
            <input type="text" placeholder="mail@domain.com" class="form-control top" ng-model="credentials.username">
            <input type="password" placeholder="Password" class="form-control bottom" ng-model="credentials.password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
    <div id="forgot" class="tab-pane">
        <form>
            <p class="text-muted text-center">Enter your valid e-mail</p>
            <input type="email" placeholder="mail@domain.com" class="form-control" ng-model="credentials.username">
            <br>
            <button class="btn btn-lg btn-danger btn-block" type="submit">Recover Password</button>
        </form>
    </div>
    <div id="signup" class="tab-pane">
        <div class="alert alert-danger" ng-if="registerError">
            <button class="close" type="button" data-dismiss="alert">×</button>
            {{registerErrorMsg}}
        </div>
        <form id="registerForm" name="registerForm" novalidate ng-submit="register()">
            <div class="form-group" ng-class="{'has-error':registerForm.companyName.$error.required && registerForm.companyName.$touched, 'has-success':!registerForm.companyName.$error.required}">
                <input type="text" placeholder="company name" class="form-control top" ng-model="registerData.company.name" id="companyName" name="companyName" required>
                <span class="help-block" ng-show="registerForm.companyName.$error.required && registerForm.companyName.$touched">Company name is required.</span>
            </div>
            <div class="form-group" ng-class="{'has-error':registerForm.companyAddress.$error.required && registerForm.companyAddress.$touched, 'has-success':!registerForm.companyAddress.$error.required}">
                <input type="text" placeholder="address " class="form-control middle" ng-model="registerData.company.address" id="companyAddress" name="companyAddress" required>
                <span class="help-block" ng-show="registerForm.companyAddress.$error.required && registerForm.companyAddress.$touched">Company address is required.</span>
            </div>
            <div class="form-group" ng-class="{'has-error':registerForm.userName.$error.required && registerForm.userName.$touched, 'has-success':!registerForm.userName.$error.required}">
                <input type="text" placeholder="username" class="form-control middle" ng-model="registerData.user.name" id="userName" name="userName" required>
                <span class="help-block" ng-show="registerForm.userName.$error.required && registerForm.userName.$touched">Username is required.</span>
            </div>
            <div class="form-group" ng-class="{'has-error':(registerForm.userEmail.$error.required && registerForm.userEmail.$touched) || registerForm.userEmail.$error.email, 'has-success':!registerForm.userEmail.$error.required || (!registerForm.userEmail.$error.email && registerForm.userEmail.$touched)}">
                <input type="email" placeholder="mail@domain.com" class="form-control middle" ng-model="registerData.user.email" id="userEmail" name="userEmail" required>
                <span class="help-block" ng-show="registerForm.userEmail.$error.required && registerForm.userEmail.$touched">Email is required.</span>
                <span class="help-block" ng-show="registerForm.userEmail.$error.email && registerForm.userEmail.$touched">Not a valid email.</span>
            </div>
            <div class="form-group" ng-class="{'has-error':registerForm.pass.$error.required && registerForm.pass.$touched, 'has-success':!registerForm.pass.$error.required}">
                <input type="password" placeholder="password" class="form-control middle" ng-model="registerData.user.password" id="pass" name="pass" required>
                <span class="help-block" ng-show="registerForm.pass.$error.required && registerForm.pass.$touched">Password is required.</span>
            </div>
            <div class="form-group" ng-class="{'has-error':registerForm.rePass.$error.pwmatch, 'has-success':!registerForm.rePass.$error.pwmatch && registerForm.pass.$touched && !registerForm.userEmail.$error.required && !registerForm.userEmail.$error.email}">
                <input type="password" placeholder="re-password" class="form-control bottom" ng-model="rePassword" id="rePass" pw-check="pass" name="rePass">
              <span class='help-block' ng-show='registerForm.rePass.$error.pwmatch'>Passwords don't match.</span>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit" ng-disabled="!registerForm.$valid">Register</button>
        </form>
    </div>
</div>
<hr>
<div class="text-center">
    <ul class="list-inline">
        <li><a class="text-muted" href="#login" data-toggle="tab">Login</a></li>
        <li><a class="text-muted" href="#forgot" data-toggle="tab">Forgot Password</a></li>
        <li><a class="text-muted" href="#signup" data-toggle="tab">Signup</a></li>
    </ul>
</div>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.list-inline li > a').click(function () {
                var activeForm = $(this).attr('href') + ' > form';
                $(activeForm).addClass('animated fadeIn');
                //set timer to 1 seconds, after that, unload the animate animation
                setTimeout(function () {
                    $(activeForm).removeClass('animated fadeIn');
                }, 1000);
            });
        });
    })(jQuery);
</script>