<div class="row">
  <div class="col-lg-12">
    <div class="box">
      <header>
        <div class="icons"><i class="fa fa-desktop"></i></div>
        <h5 translate>application.list.title</h5>

        <div class="toolbar">
          <div class="btn-group">
            <button class="btn btn-primary" translate *ngIf="canCreateApps" routerLink="/application-create">application.list.buttons.create</button>
          </div>
        </div>
      </header>
      <div id="collapse4" class="body">
        <div id="dataTable_wrapper" class="form-inline dt-bootstrap no-footer">
          <div class="row">
            <div class="col-sm-12">
            </div>
            <div class="col-sm-12">
              <div>
                <label style="float: right !important">
                  <span translate>application.list.search</span>:
                  <input class="form-control input-sm-12" placeholder="" type="search"
                         [value]="applicationFilter"
                         (input)="setFilter($event)">
                </label>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
              <th translate>application.list.name</th>
              <th translate>application.list.allErrors</th>
              <th translate>application.list.lastWeekErrors</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userApp of userApps | paginate: { itemsPerPage: pageSize, currentPage: page }">
              <td>{{userApp.name}}</td>
              <td>{{userApp.allErrorCount}}</td>
              <td>{{userApp.lastWeekErrorCount}}</td>
              <td><button class="btn btn-info" [routerLink]="['/application', userApp.id]" translate>application.list.buttons.details</button></td>
            </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="changePage($event)" autoHide="true"
                               previousLabel="{{'common.pagination.previous' | translate}}"
                               nextLabel="{{'common.pagination.next' | translate}}"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
